.img-thumbnail img{
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.img-thumbnail .caption-full {
  padding: 9px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

#signed-in-as {
  border-right: 2px solid white;
}

.delete-form {
  display: inline;
}